*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;

}
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
	padding-right: 0px;
	padding-left: 0px;
}
body{
	font-family: Tahoma;
	font-size: 12px;
	margin: 0;
	text-decoration: none;
}
@media screen and (min-width:240px) {
	
}
@media screen and (min-width:320px) {
	
}
@media screen and (min-width: 480px) {
	
}
@media screen and (min-width:768px) {
	
}
@media screen and (min-width:1024px) {
	.row{
		margin: 0;
		padding: 0;
	}
	.wrapper{
		max-width: 100%;
		max-height: 100%;
		background-color: #f1f1f1a8;
	}
	.wrapper-content{
		width: 1020px;
		margin: auto;
		background: #fff;
		padding: 0 10px;
		padding: 10px;
		box-shadow: 1px 0px 10px;
	}
	.header{
		padding-top: 8px;
		width: 1000px;
		background: #fff;
	}
	.header-right img{
		width: 100%;
		max-height: 100px;
	}
	.header-img{
		border: 1px solid #8997a5;
		max-height: 100px;
	}
	.app{
		padding: 5px 0;
		box-sizing: border-box;
		color: #222;
		font-size: 12px;
		font-weight: bold;
		width: 100%;
		display: flex;
	}
	.app img{
		width: 21px;
		height: 21px;
	}
	.app a{
		color: #222222;
	}
	.app a:hover{
		text-decoration: none;
	}
	.app span{
		padding-left: 5px;
	}
	.fb-yt{
		width: 30%;
		line-height: 40px;
	}
	.user-style{
		width: 70%;
		float: right;
	}
	.user-style button{
		background-color: #3c9f10;
		color: #fff;
		border-radius: 4px;
		line-height: 26px;
		padding: 0 10px;
		margin: 5px 10px 0 10px;
		border: none;
		font-weight: bold;
	}
	.user-style button:hover{
		background-color: #fd7e14;
		color: #222222;
	}
	/*ket thuc header */
	.menu{
		width: 100%;
		border-radius: 4px;
		background-color: #055699;
	}
	.menu ul{
		margin: 0px;
		padding: 0px;
		list-style: none;
	}
	.menu ul li{
		display: inline-block;
		margin-right: -4px;
		line-height: 30px;
		font-weight: bold;
		padding: 0 10px;
		border-right: 1px solid #20466d;
		border-left: 1px solid #4a84b5;
		color: #ffffff;
		position: relative;
	}
	.menu ul li:hover{
		background-color:#17a2b8;
	}
	
	.menu ul li:first-child:hover{
		background-color: unset;
	}
	.menu ul li a{
		color: #ffffff;
	}
	.menu ul li a:hover{
		text-decoration: none;
	}
	.menu ul li:first-child{
		padding: 0 10px;
		border-left: none;
	}
	.menu ul li:last-child{
		border-right: none;
	}	
	.sub-menu{
		display: none;
		position: absolute;
		top: 31px;
		left:0px; 
		width: 200px;
		background-color: #CFE5F5;
		border: 1px solid #fff;
		border-bottom: 0;
		padding-left: 10px;
		padding-right: 10px;
		padding-bottom: 3px;
		line-height: 15px;
		text-align: left;
		z-index: 9999;
	}
	.sub-menu li{
		font-weight: normal!important;
		width: 100%;
		color: #222 !important;
		border-right:none!important;
		border-left: none!important;
		border-bottom: 1px solid #fff;
	}
	.menu ul li:hover .sub-menu{
		display:block;
	}
	.sub-menu li:hover{
		background-color:#17a2b8!important;
	}
	/*ket thuc menu*/
	.submenu{
		margin-top: 15px;
	}
	.search-menu{
		margin-top: 3px;
		padding-left: 220px;
	}
	.search-menu input{
		border: 1px solid #ccc;
		padding: 2px 10px;
		color: #777;
		width: 255px;
		line-height: 18px;
		border-radius: 3px;
	}
	.search-menu select{
		padding: 2px;
		border-radius: 3px
	}
	.search-menu button{
		width: 90px;
		border-radius: 5px;
		background-color: #055699;
		color: #fff;
		border: none;
		height: 25px;
		font-weight: bold;
	}
	.submenu-bank{
		
	}
	.submenu-bank img{
		position: relative;
		width: 100%;
		max-height: 40px;

	}
	.submenu-bank a{
		z-index: 1;

	}
	.submenu-bank span{
		position: absolute;
		text-transform: uppercase;
		color: #fff;
		font-weight: bold;
		right: -53px;
		width: 100%;
		padding-top: 8px;

	}
	.bank-col{
		margin: 0px;
		padding: 0px;
	}
	/*ket thuc menu*/
	.search-content{
		padding: 0;
		margin: 0;
	}
	.search-box{
		padding: 0;
		margin: 0;
	}
	.header-seacrh{
		background: none repeat scroll 0 0 #055699;
		border-top-left-radius: 8px;
		border-top-right-radius: 8px;
		width: 100%;
		height: 25px;
	}
	.header-seacrh p{
		text-align: center;
		font-size: 14px;
		color: #fff;
		font-weight: bold;
	}
	.tab-search{
		border: 1px solid #b0aeae;
		cursor: pointer;
	}
	.tab-search ul li a{
		color: #222;
	}
	.tab-search ul li a:hover{
		text-decoration: none;
	}
	.tab-search ul li{
		color: #222;
		float: left;
		font-family: arial;
		font-size: 13px;
		font-weight: bold;
		margin-left: 6px;
		margin-top: 8px;
		text-align: center;
		width: 68px;
	}
	.tab-search ul li{
		height: auto;
		border-top-left-radius: 5px ;
		border-top-right-radius: 5px;
		border: 1px solid #b0aeae;
		border-bottom: none;
		
	}
	.tab-option{
		height: 280px;
	}
	.tab-option input{
		width: 80%;
		margin:5px 20px;
		height: 25px;
	}
	.tab-option select{
		width: 80%;
		margin:5px 20px;
		height: 25px;

	}
	.btn-search{
		width: 106px;
		height:36px;
		margin-left: 5px;
		border: none;
		background-image: url("../../uploads/logo/timkiem.jpg");
		background-repeat: no-repeat, repeat;
	}
	.search-leve-btn{
		display: flex;
		padding: 5px 28px;
	}
	.search-leve-btn span a{

		cursor: pointer;
		color: #319c00;
		font-size: 12px;
		text-align: center;
		text-decoration: underline;
	}
	/*ket thuc tim kiem box*/
	.new-list{
		padding: 0 8px;
	}
	.slide-news{
		width: 100%;
		height: auto;
		overflow: hidden;
		padding: 0 5px;
	}
	.slide-news a{
		color: #055699;
		font-size: 15px;
		text-decoration: none;
		font-weight: bold;
		line-height: 21px;
	}
	.slide-news p{
		text-align: justify;
		font-size: 12px;
		color: #000000;
	}
	.slide-news-img img{
		width: 100%;
		height: 160px;
	}
	.list-news{
		padding: 8px 8px;
		width: 100%;
	}
	.list-news ul{
		border: 1px solid #e8d0c6;
		width: 100%;
		height: auto;
	}
	.list-news ul li {
		padding: 0;
		width:100%;
		border-bottom: 1px solid #e8d0c6;
		padding: 8px 0;
		background: url("../../uploads/logo/icon_title.png") no-repeat 15px center;;
		list-style: none;
	}
	.list-news ul li:last{
		border: none;
	}
	.list-news ul li a{
		font-weight: bold;
		color: #055699;
		font-size: 12px;
		text-decoration: none;
		padding-bottom: 5px;
		line-height: 20px;
		margin-left: 30px;
	}
	.ads-news{
		width: 100%;
	}
	.ads-news img{
		width: 100%;
	}
	.header-product{
		margin-top: 10px;
		padding: 4px 15px 0 6px;
		color: #fff;
		font-weight: bold;
		background-color: #055699;
		width: 30%;
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
	}
	.header-product p{
		margin-bottom: 0px;
		text-align: center;
	}
	.line-gr{
		border-bottom: 2px solid #055699;
	}
	.product-group {
		border: 1px solid #999;
		border-top: 0;
	}
	.product-group ul{
		padding: 7px 7px;
		list-style: none;
	}
	.product-group ul li{
		padding: 10px 0px;
		border-bottom:1px solid #055699;
	}
	.list-tinrao{
		display: flex;
	}
	.list-tinrao img{
		width: 120px;
		height: 90px;
	}
	.product-infor{
		padding: 0 0 0 10px;
	}
	.product-title{
		height: auto;
	}
	.product-title a{
		text-decoration: none;
		color: #055699;
		font-weight: bold;
	}
	.product-infor-content{
		display: flex;
		padding-top: 3px;
	}
	.product-infor-content-left{
		font-weight: bold;
		width: 30%;
		padding: 10px 0px;
	}
	.product-infor-content-mid{
		width: 60%;
		padding: 10px 0px;
	}
	.product-infor-content-right{
		width: 10%;
		padding-top: 45px;
		padding-left: 90px;
	}
	.address-pd a{
		color: #055699;
		font-size: 13px;
		text-decoration: none;
		text-transform:capitalize;
	}
	.more-news{
		padding: 0 0 15px 10px;
		color: #055699;
	}
	.more-news a{
		color: #055699;
		text-decoration: none;
	}
	.paginain-news{
		margin:10px 0px;
	}
	.header-baiviet{
		margin-top: 10px;
	}
	.header-baiviet ul {
		width: 100%;
		height: 7px;
	}
	.header-baiviet ul li {
		display: inline-block;
		list-style: none;
		line-height: 15px;
		padding:4px;
		color: #055699;
		font-weight: bold;
		border-left: 1px solid #055699;

	}
	.header-baiviet ul li a{
		color: #055699;
		text-align: center;

	}
	.new-news{
		background-color: #055699;
		border-top-right-radius: 5px;
		border-top-left-radius: 5px;
		border-left:none;

	}
	.new-news a{
		color: #fff!important;
		font-weight: bold;
	}
	.header-baiviet ul{
		background-image: url("../../uploads/logo/tit-repeat-bottom.jpg");
	}
	.line-home {
		border-bottom: 1px solid #055699;
		width: 100%;
		margin: 0px;
	}
	.group-news-new-left{
		width: 100%;
		max-height: 160px;
		padding: 5px 5px;
		text-overflow: ellipsis;
		overflow: hidden;
	}
	.group-news-new-left img{
		width: 82px;
		height: 82px;
		float: left;
		padding: 4px;
	}
	.group-news-new-left-title{
		height: 50px;
		
	}
	.group-news-new-left-title a{
		color: #000;
		font-weight: bold;
		text-decoration: none;
		text-align: justify;


	}
	.group-news-new-left-intro{
		
		text-align: justify;
		margin-top: 5px;
		padding-bottom:0px;
	}
	.group-news-new{
		border:1px solid #9e9e9e;
		border-top:none;
		border-bottom-left-radius: 5px;
		border-bottom-right-radius: 5px; 
	}
	.list-news-blue{
		background-color: #cfe5f2;
		width: 96%;
		margin: 0 auto;
		margin-bottom: 5px;

	}
	.list-news-blue ul{
		color: #055699;
		list-style-type: square;
		margin: 10px 20px;
	}
	.list-news-blue ul li{
		

	}
	.list-news-blue ul li a{
		color: #333;
		line-height: 20px;
		overflow: hidden;
		padding-bottom: 5px;
		text-decoration: none;
		vertical-align: middle;
		text-overflow: ellipsis;
	}
	.common{
		padding-top: 10px;
	}
	.box-header{
		background: none repeat scroll 0 0 #055699;
		border-top-left-radius: 8px;
		border-top-right-radius: 8px;
		width: 100%;
		height: 25px;
	}
	.box-header p{
		text-transform: uppercase;
		text-align: center;
		color: #fff;
		line-height: 25px;
		font-weight: bold;
	}
	.bor-box{
		width: 100%;
		border: solid 1px #999;
		border-left: 1px solid #999;
		border-right: 1px solid #999;
		border-bottom: 1px solid #999;
		padding-bottom: 4px;
	}
	.tag-list-left ul{
		margin-top: 5px;
		list-style-type: square;
		color: #055699;
	}
	.tag-list-right ul{
		list-style-type: square;
		color: #055699;
		margin-top: 5px;
	}
	.tag-list-left ul li{
		width: 80%;
		margin:0 auto;
	}
	.tag-list-right ul li{
		width: 80%;
		margin:0 auto;
	}
	.tag-list-left ul li a{
		color: #000;
		padding-left: 10px;
		font-weight: normal;
		text-decoration: none;
	}
	.tag-list-right ul li a{
		color: #000;
		padding-left: 10px;
		font-weight: normal;
		text-decoration: none;
	}
	.header-box-right{
		background: none repeat scroll 0 0 #055699;
		border-top-left-radius: 8px;
		border-top-right-radius: 8px;
		width: 98%;
		height: 25px;
		margin: 0 auto;
		margin-top: 20px;
	}
	.header-box-right p{
		text-transform: uppercase;
		text-align: center;
		color: #fff;
		line-height: 25px;
		font-weight: bold;
	}
	.new-last-week{
		width: 98%;
		margin:0 auto;
		border: solid 1px #999;
		border-left: 1px solid #999;
		border-right: 1px solid #999;
		border-bottom: 1px solid #999;
		padding-bottom: 4px;
	}
	.new-last-week ul {
		margin-top: 5px;
		list-style-type: square;
		color: #055699;
	}
	.new-last-week ul li{
		width: 83%;
		margin: 0 20px;
		
	}
	.new-last-week ul li a{
		color: #000;
		padding-left: 10px;
		font-weight: normal;
		text-decoration: none;
		
	}
	.new-last-week ul li a:hover{
		color:#055699;
	}
	.pictures-pt{
		margin-top: 5px;
	}
	.pictures-pt img{
		width: 99%;
		margin: auto;
		margin-bottom: 5px;
	}
	.pictures-pt a{
		color: #055699 !important;
		font-weight: bold;
		text-decoration: none;
		text-align: center;
	}
	.tuvan-nt{
		display: flex;
		margin-top: 5px;
	}
	.fb-fanpage{
		margin-top: 10px;
	}
	.ads-right img{
		width: 100%;
		height: 600px;
	}
	/*ket thuc left*/
	.header-box-project{
		background: none repeat scroll 0 0 #055699;
		border-top-left-radius: 8px;
		border-top-right-radius: 8px;
		width: 100%;
		height: 25px;
		margin: 0 auto;
		margin-top: 20px;
	}
	.header-box-project p{
		text-transform: uppercase;
		text-align: center;
		color: #fff;
		line-height: 25px;
		font-weight: bold;
	}
	.project-bds{
		width: 100%;
		margin:0 auto;
		border: solid 1px #999;
		border-left: 1px solid #999;
		border-right: 1px solid #999;
		border-bottom: 1px solid #999;
		padding-bottom: 4px;
		height: 400px;
		overflow-y: scroll;
	}
	.project-bds img{
		margin-top: 5px;
		width: 150px;
		height: 100px;
		
	}
	.project-bds ul li{
		list-style: none;
		width: 90%;
		margin: 0 auto;
		text-align: center;
	}
	.project-bds ul li a{
		color: #444;
		font-weight: bold;
		text-decoration: none;
		text-align: center;
	}
	.suport-box{
		width: 100%;
		margin:0 auto;
		border: solid 1px #999;
		border-left: 1px solid #999;
		border-right: 1px solid #999;
		border-bottom: 1px solid #999;
		padding-bottom: 4px;
	}
	.suport-box ul li{
		list-style: none;
		text-align: center;
		width: 90%;
		margin-left: 10px;
		padding: 10px 10px;
		border-bottom: 1px solid #999; 
		line-height: 30px;
	}
	.suport-box ul li:last-child{
		border: none;
	}
	.suport-box img{
		width: 27px;
		height: 25px;
		margin-right: 5px;
	}
	.suport-box ul li a{
		text-decoration: none;
		color:  #055699 ;
		font-weight: bold;
		text-align: center;
	}
	.slide-list img{
		width: 80px;
		height: 40px;
	}
	.slide-box ul li{
		list-style: none;
		width: 90%;
		margin-left: 10px;
		padding: 10px 10px;
		line-height: 30px;
	}
	.slide-box{
		width: 100%;
		margin:0 auto;
		border: solid 1px #999;
		border-left: 1px solid #999;
		border-right: 1px solid #999;
		border-bottom: 1px solid #999;
		padding-bottom: 4px;
		border-bottom-left-radius: 5px;
		border-bottom-right-radius: 5px;
		min-height: 610px;
	}
	.slide-box ul li a{
		color: #055699;
		font-weight: bold;
		text-decoration: none;
	}
	.vip-row{
		background-image: url("../../uploads/logo/broker_line_bg.jpg");
		background-repeat: no-repeat;
		background-position: bottom center;
		color: #333!important;
		height: 10px;
	}
	.link-all{
		background-image: url("../../uploads/logo/broker_view_all.jpg");
		background-position: left center;
		background-repeat: no-repeat;
		padding-left: 30px;
		line-height: 30px;
		display: block;
		margin-left: 10px;
		clear: both;
		text-decoration: none;
		color: #000;
	}
	.link-all a{
		text-decoration: none;
		color: #055699;
	}
	.ads-app{
		width: 100%;
		height: 175px;
		background: url("../../uploads/logo/bg.jpg")no-repeat;
		background-position: center;
		background-size:100%;
		float: left;
		margin-top: 10px;
	}
	.app-link img{
		padding-top: 5px;
	}
	.app-link{
		margin-top: 90px;
		margin-left: 5px;
	}
	.bds-intro{
		margin-top: 20px;
	}
	.bds-title p{
		font-size: 14px;
		font-weight: bold;
		padding-bottom: 5px;
		margin: 0;
	}
	.bds-ct a{
		text-decoration: none;
		color: #000;
	}
	.bds-set-home{
		margin-top: 30px;
	}
	.btn-home-set img{
		width: 118px;
		height: 20px;
		float: right;
	}
	.set-header a{
		float: right;
		color:  #055699;
	}
	/*ket thuc content*/
	.footer-header{
		display: flex;
	}
	.footer-header-left{
		background: url("../../uploads/logo/baochi1.jpg");
		background-size: 185px;
		width: 185px;
		height: 35px;
	}
	.footer-header-right{
		height: 35px;
		width: 810px;
		background: #cfe5f2; 
	}
	.footer-header-right marquee{
		line-height: 35px;
	}
	.form-email{
		width: 100%;
		height: 40px;
		background: #e8f1f6;
		line-height: 40px;
		border: 1px solid #dedede;
		padding: 0 10px;
		border-radius: 4px;
		margin: 40px 0 30px;
	}
	.form-email-img{
		margin:0px 5px 0px 0px;
	}
	.form-email-text{
		color: #055699;
		font-size: 15px;
		margin-right: 27px;
	}
	.form-email-form input{
		border: 1px solid #aac0ce;
		margin-top: 4px;
		border-right: 0;
		border-radius: 4px 0 0 4px;
		height: 30px;
		line-height: 40px;
		padding: 0 15px;
		width: 380px;
		font-size: 13px;
	}
	.form-email-form button{
		margin-top: 3px;
		display: inline-block;
		width: 105px;
		border: 1px solid #86b4d5;
		border-radius: 0 4px 4px 0;
		height: 30px;
		line-height: 28px;
		color: #fff;
		font-weight: bold;
		background-color: #0e5084;
		text-align: center;
		font-size: 14px;
	}
	.footer-middle{
		width: 100%;
		margin-top: 10px;
		background: #ededed;
		border-bottom: 1px solid #ccc;
		border-top: 1px solid #ccc;
		padding: 20px;	
	}
	.footer-middle ul li{
		list-style: none;
		margin:5px 0; 
	}
	.footer-middle ul li a{
		text-decoration: none;
		color: #000;
		font-size: 11px;
		font-weight: normal;
	}
	.footer-middle ul li a:hover{
		text-decoration: underline;
		color:  #055699;
		
	}
	.footer-middle-link a{
		font-weight: bold;
		color: #055699;
		text-decoration: none;
	}
	.footer-home{
		margin-top: 20px!important;
		width: 90%;
		margin: 0 auto;
	}
	.footer-home ul li{
		display: inline-table;
		border-right: 1px solid #055699;	
	}
	.footer-home ul li:last-child{
		border: none;
	}
	.footer-home ul li a{
		text-decoration: none;
		color: #055699;
		font-weight: bold;
		padding-right: 5px;
		font-size: 11px;
	}
	.footer-home-last{
		width: 90%;
		margin: 0 auto;
	}
	.footer-home-last ul{
		text-align: center;	
	}
	.footer-home-last ul li{
		display: inline-table;
		border-right: 1px solid #055699;	
	}
	.footer-home-last ul li:last-child{
		border: none;
	}
	.footer-home-last ul li a{
		text-decoration: none;
		color: #055699;
		font-weight: bold;
		padding-right: 5px;
		font-size: 11px;
	}
	.footer-bottom-end{
		margin-top: 22px;
		text-align: center;
		background: #ededed;
		border-top: 1px solid #ccc;
		padding: 15px;
		clear: both;
	}
	.clear{
		clear: both;
		height: 10px;
	}
	.footer-end-row{
		text-align: left;
		text-align: left;
		padding-left: 5px;
		color: #222;
	}
	.footer-bottom-end p{
		margin: 0px;
	}
	/*bat dau css trang nha dat*/
	.produt-page .title h1{
		color: #055699;
		font-weight: bolder;
		margin: 3px 0;
		padding: 0 0 7px;
		font-size: 18px;
	}
	.produt-page-header ul{
		margin-right: 10px;
	}
	.produt-page-header ul li{
		border: 1px solid  #76a1b2;
		border-top-right-radius: 5px;
		border-top-left-radius: 5px;
		margin-left: 5px;
	}
	.produt-page-header ul li span{
		line-height: 26px;
	    display: block;
	    padding: 0 3px;
	    font-weight: bold;
	    background: #e3eef4;
	    border-top-right-radius: 5px;
		border-top-left-radius: 5px;
	}
	.produt-page-header ul li a{
		color: #000;
	}
	.produt-page-header ul li:first-child{
		margin-left: 0px !important;
	}
	.header-bg-blue{
		background: #055699;
		width: 750px;
	}
	.produt-page-content .repeat{
		background: #055699;
	    color: #FFF;
	    font-weight: bold;
	    line-height: 30px;
	}
	.produt-page-content .order{
		background: #055699;
	    color: #FFF;
	    line-height: 30px;
	    margin-left: 5px;
	}
	.repeat{
		width: 70%;
	}
	.repeat h2{
		text-align: center;
	    font-weight: bold;
	    color: #fff;
	    font-size: 12px;
	    line-height: 20px;
	    margin-top: 5px;
	}
	.product-page-list ul li{
		list-style: none;
		padding: 10px 2px;
	    font-family: tahoma;
	    border-bottom: 1px solid #B32626;
	    border-left: 1px solid #B32626;
	    border-right: 1px solid #B32626;
	}
	.p-title a{
		text-decoration: none;
	}
	.p-title a h3{
	   font-size: 12px;
	    font-weight: bold;
	    text-decoration: none;
	    color: #B32626;
	    padding-left: 20px;
	    background: url("../../uploads/logo/flat-star.png");
	    background-repeat: no-repeat;
	}
	.product-avatar-img img{
		width: 175px;
		height: 116px;
	}
	.p-main-text{
		color: #000;
	    font-family: tahoma;
	    font-size: 12px;
	    margin-right: 7px;
	    line-height: 18px;
	    margin-top: 0;
	    text-align: justify;
	    padding: 5px 10px;
	}
	.p-main-text-bottom{
		margin-top: 20px;
		margin-left: 5px;
	}
	.swap strong{
		color: #055699;
   	    font-weight: bold;
	}
	.uptime{
		margin-left: 50px;
	}
	.news-form-small{
		padding: 0px 5px;
		border: 1px solid #ccc;
	    border-radius: 4px;
	    padding: 5px 5px 7px;
	    margin-bottom: 10px;
	}
	.news-form-small span{
		color: #055699;
	    font-weight: bold;
	    font-size: 11px;
	    margin-top: 3px;
	}
	.newletter-content input{
		border: 1px solid #ccc;
	    border-right: 0;
	    border-radius: 4px 0 0 4px;
	    height: 28px;
	    line-height: 28px;
	    padding: 0 10px;
	    font-size: 13px;
	    width: 133px;
	}
	.newletter-content button{
		display: inline-block;
	    width: 72px;
	    border: 1px solid #ccc;
	    border-radius: 0 4px 4px 0;
	    height: 28px;
	    line-height: 28px;
	    color: #fff;
	    font-weight: bold;
	    background-color: #0e5084;
	    text-align: center;
	}
	.product-page-box{
		width: 95%;
		margin: 0 auto;
	}
	.product-box-address {
	    border: 1px solid #d7d7d7;
	    overflow: hidden;
	    padding: 0 12px;
	}
	.product-box-address input{
		margin: 5px 0px 10px 0px;
		height: 25px;
	    line-height: 20px;
	    border: 1px solid #ccc;
	    width: 100%;
	    padding: 0 5px;
	    font-size: 13px;
	}
	.product-box-address select{
	    border: 1px solid #ccc;
	    cursor: pointer;
	    float: left;
	    height: 23px;
	    left: 0;
	    line-height: 27px;
	    overflow: hidden;
	    text-align: left;
	    width: 100%;
	    margin: 7px 0px;
	}
	.btn-Search-Context button{
		text-align: center;
		border: none;
		border-radius: 5px;
		margin-left: 60px;
		background: #055699;
		line-height: 25px;
		color: #fff;
		padding: 0 10px;
	}
	.link-advanced p{
		color: #055699;
	    font-weight: bold;
	    line-height: 15px;
	    text-decoration: none;
	    padding: 5px;
	    cursor: pointer;
	}
	.link-advanced{
		text-align: center;
	}
	.searchadvanced{
		display: none;
	}
	#searchBase{
		display: none;
	}
	#hideSearchBase{
		display: none;
	}
	.product-address{
		width: 100%;
		border: solid 1px #999;
	    border-left: 1px solid #999;
	    border-right: 1px solid #999;
	    border-bottom: 1px solid #999;
	    padding-bottom: 4px;
	}
	.product-address ul li{
		list-style: none;
		text-decoration: none;
	}
	.product-address ul li a{
		color: #055699;
    	text-decoration: none;
    	padding-left: 10px;
    	padding-right: 5px;
	}
	.product-build-house{
		width: 100%;
	    border: solid 1px #999;
	    border-left: 1px solid #999;
	    border-right: 1px solid #999;
	    border-bottom: 1px solid #999;
	    padding-bottom: 4px;

	}
	.product-build-house ul{
		margin-top: 5px;
		margin-bottom: 0px;
	}
	.product-build-house ul li a{
		color: #000;
		text-decoration: none;
	}
	.product-build-house ul li:last-child{
		border: none;
	}
	.product-build-house ul li{
		list-style: none;
		padding: 10px;
		border-bottom: 1px solid  #d7d7d7;
	}
	.product-build-house ul li:hover{
		
		font-weight: bold;
	}
	.header-box-car{
		width: 100%;
	    border: solid 1px #999;
	    border-left: 1px solid #999;
	    border-right: 1px solid #999;
	    border-bottom: 1px solid #999;
	    padding-bottom: 4px;
	}
	.header-box-car ul li{
		list-style: none;
		background: url("../../uploads/logo/bullet-xanh.jpg") no-repeat 7px 13px;
		padding: 5px 7px 2px 19px;
	}
	.header-box-car ul li a{
		text-decoration: none;
		color: #000;
	}
	.header-box-car ul li a:hover{
		text-decoration: none;
		color: #055699;
	}
	/*bat dau css trang du an bat dong san*/
	.prj-top-search{
		width: 1000px;
	    padding: 15px 15px 15px 15px;
	    box-sizing: border-box;
	    border: 1px solid #c6c6c6;
	    margin-bottom: 20px;
	}
	.prj-top-search .col1{
		float: left;
	    width: 125px;
	    margin-right: 10px;
	    color: #055699;
	    text-transform: uppercase;
	    font-weight: bold;
	}
	.prj-top-search .col1 h2{
	   font-size: 14px;
  	   line-height: 25px;
	}
	.prj-top-search .col2 input{
		width: 680px;
	    border: 1px solid #ccc;
	    border-radius: 4px;
	    line-height: 23px;
	    padding: 0 10px;
	    height: 23px;
	}
	.prj-top-search .col3{
	    background: url("../../uploads/logo/tim-kiem-du-an.jpg") no-repeat;
	    width: 101px;
	    height: 25px;
	    margin-left: 10px;
	    line-height: 25px;
	    padding-left: 35px;
	    color: #fff;
	    border: 0;
	}
	.showAdressSearch {
		margin-top: 10px;
	}
	.showAdressSearch select{
		padding: 3px;
		border-radius: 3px;
	    border: 1px solid #ccc;
	    cursor: pointer;
	    height: 23px;
	    width: 155px;
	    line-height: 27px;
	    overflow: hidden;
	    margin-right: 20px;
	    margin-bottom: 10px;
	}
	.showAdressSearch select{
		display: none;
	}
	.showSearchDuAn{
		text-align: center;
	}
	#compactLinkSearch{
		display: none;
	}
	.slide-du-an{
		padding: 3px;
	}
	.slide-du-an .title a{
		color: #055699 !important;
	    font-size: 16px;
	    font-weight: bolder;
	    line-height: 25px;
	}
	.slide-du-an p{
		color: #555;
	    margin-top: 5px;
	    max-height: 220px;
	    font-size: 14px;
	    line-height: 22px;
	}
	.carousel-indicators li{
		background-color: #055699 !important; 
	}
	.slide-img img{
		width: 760px;
		height: 270px;
	}
	.prj-inline{
		margin-top: 15px;
	}
	.prj-inline .col1{
		width: 390px;
	    float: left;
	    border-bottom: 1px solid #dedede;
	    height: 50%;
	    margin-bottom: 30px;
	}
	.prj-inline .col2 {
	    float: left;
	    width: 214px;
	    text-align: center;
	}
	.prj-inline .col2 h2{
		color: #055699;
	    text-transform: uppercase;
	    font-size: 18px;
	    font-weight: normal;
	    line-height: 30px;
	}
	.prj-inline-list ul li{
		display: block;
	    border: 1px solid #dedede;
	    width: 230px;
	    vertical-align: top;
	    height: 280px;
	    float: left;
	    margin: 0 20px 20px 0;
	    list-style: none;
	}
	.duan-img img{
		width: 229px;
    	height: 150px;
	}
	.prj-name a{
		color: #055699;
	    font-size: 14px;
	    font-weight: bold;
	    margin: 10px 0;
	}
	.prj-name{
		padding: 3px;
		margin-top: 3px;
	}
	.prj-address{
		padding: 3px;
	}
	.prj-price{
		padding: 3px;
	}
	.prj-name a{
		text-decoration: none;
	}
	.prj-inline-list .list-house{
		height: 250px !important;
	}
	.prj-top-by-cate ul li{
		color: #055699;
    	list-style: none;
	}
	.prj-top-by-cate ul li a{
		text-decoration: none;
	}
    .prj-top-by-cate ul li span{
		font-size: 18px;
	    text-transform: uppercase;
	    margin-right: 25px;
	    color: #555;
	    font-weight: normal;
	    margin-bottom: 5px;
	    padding-bottom: 2px
	}
	.prj-top-by-cate ul li  .active span{
		color: #055699;
    	border-bottom: 2px solid #055699;
	}
	.prj-top-by-content{
		margin-top: 20px;
	}
	.prj-top-by-content ul li{
		list-style: none;
	    display: block;
	    border: 1px solid #dedede;
	    margin-bottom: 20px;
	    clear: both;
	    color: #555;
	    width: 665px;
	}
	.tab-left img{
		width: 220px;
		height: 144px;
	}
	.tab-right{
		padding: 10px;
		width:100%; 
	}
	.title-tab a{
		color: #055699;
	    font-size: 14px;
	    font-weight: bold;
	    margin-bottom: 15px;
	    display: block;
	}
	.tab-right-address{
		margin:8px 0px;
		display: inline-block;
	    text-align: left;
	}
	.tab-right-price{
		margin:8px 0px;
		display: inline-block;
	    text-align: left;
	}
	.price-bold{
		font-size: 14px;
    	font-weight: bold;
	}
}